# Custom Configurations
# Following definitions set up pretty URL's

Options -Indexes
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^([a-zA-Z0-9\-]+)/$ index.php?page=$1
RewriteRule ^([a-zA-Z0-9\-]+)$ index.php?page=$1

RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/$ index.php?page=$1&var_one=$2
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?page=$1&var_one=$2

RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/$ index.php?page=$1&var_one=$2&var_two=$3
RewriteRule ^([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)/([a-zA-Z0-9\-]+)$ index.php?page=$1&var_one=$2&var_two=$3
