/* -----------------------------------
	Icon CSS by Tristan Mastrodicasa

	icon.css

	This file deals with how site - icons
	are portrayed, such as the top navigation
	buttons / level display / statistics icons
----------------------------------- */

/* Top Navigation Icons */

.ic-top-nav-banner {
	margin-top: 2px;
}
.ic-top-nav-link-icon {
	width: 26px;
	height: 26px;
}
.ic-home-link {
	background-image: url("http://222.153.11.66/resources/images/buttons/home-button-unfocused.png");
}
.ic-home-link:hover {
	background-image: url("http://222.153.11.66/resources/images/buttons/home-button-focused.png");
}
.ic-setting-link {
	/* Height and width leave an empty pixel on top and right side */
	height: 27px;
	width: 27px;
	background-image: url("http://222.153.11.66/resources/images/buttons/settings-button-unfocused.png");
}
.ic-setting-link:hover {
	background-image: url("http://222.153.11.66/resources/images/buttons/settings-button-focused.png");
}
.ic-search-link {
	background-image: url("http://222.153.11.66/resources/images/buttons/search-button-unfocused.png");
}
.ic-search-x {
	background-image: url("http://222.153.11.66/resources/images/buttons/x-button-search.png");
}

/* Influence Badges */

.ic-xp-ring-large { 
	width: 100px;
	height: 100px;
	text-align: center;
	
	background-image: url("http://222.153.11.66/resources/images/levels/level-large/level-0-9.png"); /* Default */
}
.ic-xp-ring-large > span {
	line-height: 220%;
	font-size: 45px;
}

.ic-xp-ring-medium {
	width: 60px;
	height: 60px;
	text-align: center;
	
	background-image: url("http://222.153.11.66/resources/images/levels/level-medium/level-0-9.png"); /* Default */
}
.ic-xp-ring-medium > span {
	line-height: 265%;
	font-size: 23px;
}

/* Stat Icons */

.ic-subscribe { 
	width: 25px;
	height: 25px;
	
	background-image: url("http://222.153.11.66/resources/images/stat-icons/stat-icon-sub.png");
}
.ic-admire { 
	width: 25px;
	height: 25px;
	
	background-image: url("http://222.153.11.66/resources/images/stat-icons/stat-icon-adm.png");
}
.ic-endorsement { 
	width: 25px;
	height: 25px;
	
	background-image: url("http://222.153.11.66/resources/images/stat-icons/stat-icon-end.png");
}
.ic-post { 
	width: 25px;
	height: 25px;
	
	background-image: url("http://222.153.11.66/resources/images/stat-icons/stat-icon-post.png");
}
.ic-seen { 
	width: 25px;
	height: 25px;
	
	background-image: url("http://222.153.11.66/resources/images/stat-icons/stat-icon-seen.png");
}
.ic-repost { 
	width: 25px;
	height: 25px;
	
	background-image: url("http://222.153.11.66/resources/images/stat-icons/stat-icon-rep.png");
}
.ic-comment { 
	width: 25px;
	height: 25px;
	
	background-image: url("http://222.153.11.66/resources/images/stat-icons/stat-icon-com.png");
}

/* Action Button Icons */

.ic-b-action { 
	width: 21px;
	height: 22px;
}
.ic-b-more { 
	width: 32px;
	height: 9px;
	
	background-image: url("http://222.153.11.66/resources/images/buttons/more.png");
}

/* x */

.ic-x { 
	width: 15px;
	height: 15px;
	
	background-image: url("http://222.153.11.66/resources/images/buttons/x-button.png");
}
.ic-x:focus { background-image: url("http://222.153.11.66/resources/images/buttons/x-button-focus.png"); }

/* Ticked */

.ic-ticked { 
	width: 20px;
	height: 17px;
	
	/* Background image defined in button.css */
}

/* Repost icon to show someone reposted */

.ic-repost-small { 
	width: 13px;
	height: 14px;
	
	background-image: url("http://222.153.11.66/resources/images/buttons/repost-small.png");
}
.ic-info-tiny {
	width: 12px;
	height: 12px;
	
	background-image: url("http://222.153.11.66/resources/images/misc/info-tiny.png");
}

/* Profile Changing Icons */

.ic-change-prof {
	width: 150px;
	height: 150px;
	
	background-image: url("http://222.153.11.66/resources/images/buttons/change-propic.png");
	cursor: pointer;
}
.ic-pro-load {
	width: 100px;
	height: 100px;
	
	background-image: url("http://222.153.11.66/resources/images/misc/profile-pic-load.gif");
}

.ic-confirm {
	width: 23px;
	height: 17px;
	
	background-image: url("http://222.153.11.66/resources/images/buttons/confirm.png");
}
.ic-deny {
	width: 17px;
	height: 17px;
	
	background-image: url("http://222.153.11.66/resources/images/buttons/deny.png");
}